#search {
  margin-top: 35%;
}

.ng-cloak {
  display: none;
}

.top-bar {
  height: auto;
}

#player-zone {
  text-align: center;
  color: white;
  padding: .25em 1em;
  background: rgba(255,255,255,0.1);
  li {
    margin: auto;
  }
  .currently-playing {
    padding: .6em .6em .4em 0;
    margin-left: 0
  }
}

.control {
  display: inline-block;
  color: white;
  width: 5em;
  margin-bottom: 0;
  margin: .5em 0;
}

#playlist {
  padding-left: .5em;
  .inner {
    position: fixed;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  ol li {
    //list-style: decimal;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0 .25em;
    &.current {
      background: #eee;
    }
    span {
      opacity: .1;
      transition: .3s all;
      font-size: 1.2em;
    }
    &:hover span {
      opacity: 1;
    }
  }
  i {
    cursor: pointer;
  }
}
