
.ng-cloak {
  display: none;
}

.top-bar {
  height: auto;
}

.control {
  display: inline-block;
  color: white;
  width: 5em;
  margin-bottom: 0;
  margin: .5em 0;
}

#playlist {
  padding: .5em;
  .inner {
    position: fixed;
  }
  ul {
    margin: 0;
    margin-left: 1em;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0;
//    padding: .5em;
    &.current {
      background: #eee;
    }
    span {
      opacity: .1;
      transition: .3s all;
      font-size: 1.2em;
    }
    &:hover span {
      opacity: 1;
    }
  }
}
