@import '../bower_components/foundation/scss/foundation';

#main {
  overflow: hidden;
  width: 100%;
}

.site-name {
  text-align: center;
  padding: 1em 0;
}

.ng-cloak {
  display: none;
}

#topbar {
  bottom: 0;
  width: 100%;
  left: 0;
  position: fixed;
  z-index: 99;
}

.top-bar {
  height: auto;
}

#player-zone {
  text-align: center;
  color: white;
  padding: .25em 1em;
  background: rgba(255,255,255,0.1);
  li {
    margin: auto;
  }
  p {
    margin-bottom: 0;
  }
}

.control {
  display: inline-block;
  color: white;
  width: 5em;
  margin-bottom: 0;
  margin: .5em 0;
}

#playlist {
  padding-left: .5em;
  @media #{$small-only} {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: white;
    top: 90%;
    left: 0;
    transition: top .5s;
    &.show {
      top: 0;
    }
  }
  .inner {
    position: fixed;
  }
  ul, ol {
    margin: 0;
    padding-left: .75em;
  }
  ol {
    padding-top: .5em;
  }
  li {
    list-style: none;
    margin: 0;
    //padding: .25em;
    span {
      opacity: .1;
      transition: .3s all;
      font-size: 1.2em;
    }
    &:hover span {
      opacity: 1;
    }
    .track i {
      color: #aaa;
    }
    &.album {
      padding: .5em 0 0;
    }
  }
  i {
    cursor: pointer;
  }
  .mobile-toggle {
    text-align: right;
    display: inline;
    padding: .5em;
  }
}

#showlist {
  i {
    color: #888;
    display: inline-block;
    padding: 0 1em;
  }
}

#tracklist {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    padding: .5em;
    border-bottom: 1px solid #ccc;
    color: #444;
    &:first-child {
      border-top: 1px solid #ccc;
    }
    span {
      display: inline-block;
      margin-right: 1em;
      color: #888;
      font-size: 80%;
    }
    span.track-length {
      float: right;
    }
    &.current {
      background: #eee;
    }
  }
}

blockquote {
  word-wrap: break-word;
}
