<div class="row">
  <ul class="breadcrumbs">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="list({ collection: metadata.collection[0] })">{{ metadata.collection[0] }}</a></li>
  </ul>
  <div class="column large-12" id="title">
    <h4>{{ metadata.title[0] }}</h4>
  </div>
  <div class="column large-12" id="tracklist">
    <ul>
      <li ng-repeat="track in tracks" ng-click="play($index)"
        ng-class="{ current: current.track === $index && track.orig === currentlyPlaying() }">
        <span>{{ $index + 1 }}</span>{{ track.title || track.path }}<span class="track-length">{{ track.length}}</span>
        <i ng-show="current.track === $index && track.orig === currentlyPlaying()" class="fa fa-volume-up"></i>
      </li>
    </ul>
  </div>
    <table class="column large-12">
      <tr ng-repeat="file in notTracks">
        <td>{{ file.format }}</td>
        <td><a ng-href="http://{{ file.server + file.dir + file.path }}">Download</a></td>
      </tr>
    </table>
    <div class="column large-12">
      <h4>Reviews</h4>
      <div ng-repeat="review in reviews.reviews">
        <blockquote>
          {{ review.reviewbody }}
          <cite>
            {{ review.reviewer }} - {{ review.reviewdate }}
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>
