<div class="row">

  <div class="large-12 column">
    <ul class="breadcrumbs">
      <li><a ui-sref="home">Home</a></li>
    </ul>
  </div>
  <div class="large-12 columns button-bar">
    <ul class="button-group">
      <li ng-repeat="year in years">
        <button class="tiny" ng-click="setYear(year)">{{ year }}</button>
      </li>
    </ul>
  </div>
  <div class="large-6 columns">
    <label>Search
      <input ng-model="query" type="text" placeholder="eg 'SBD' or 'Tuesday Letter'">
    </label>
  </div>
  <div class="large-4 medium-9 small-8 columns">
    <label>Order by
      <select ng-model="order">
        <option value="-date" selected="selected">Date</option>
        <option value="-downloads">Downloads</option>
        <option value="-avg_rating">Average Rating</option>
      </select>
    </label>
  </div>
  <div class="large-2 medium-3 small-4 column">
    <label>&nbsp;</label>
    <button class="tiny success" ng-click="refresh()"><i class="fa fa-refresh fa-lg"></i></button>
  </div>
  <div class="column large-12">
    <table infinite-scroll="loadMore()" id="showlist">
      <tr>
        <th>Show</th>
        <th>View Detail</th>
      </tr>
      <tr ng-repeat="show in shows | orderBy:order | filter:query | filter:{ year:yearOf } | limitTo:limit">
        <td>
          <span ui-sref="detail({ id: show.identifier })">{{ show.title }}</span><br >
          <small><em>{{ show.date | date : mediumDate }} - {{ show.downloads }} downloads</em> | Avg Rating - {{ show.avg_rating || 0 }}</small><i ng-show="currentlyPlaying === show.identifier" class="fa fa-volume-up"></i>
        </td>
        <td><a ui-sref="detail({ id: show.identifier })" class="tiny secondary radius button">Detail</a></td>
      </tr>
    </table>
  </div>
</div>
