<div class="row">

  <div class="large-12 columns button-bar">
    <ul class="button-group">
      <li ng-repeat="year in years">
        <button class="tiny button" ng-click="setYear(year)">{{ year }}</button>
      </li>
    </ul>
  </div>
  <div class="large-6 columns">
    <label>Order by
      <select ng-model="order">
        <option value="-date" selected="selected">Date</option>
        <option value="-downloads">Downloads</option>
        <option value="-avg_rating">Average Rating</option>
      </select>
    </label>
  </div>
  <table class="large-12 column" infinite-scroll="loadMore()">
    <tr>
      <th>Date</th>
      <th>Show</th>
      <th>Rating</th>
      <th>Downloads</th>
      <th>View Detail</th>
    </tr>
    <tr ng-repeat="show in shows | orderBy:order | filter:yearOf | limitTo:limit">
      <td>{{ show.date | date : date : shortDate }}</td>
      <td ui-sref="detail({ id: show.identifier })">{{ show.title }}</td>
      <td>{{ show.avg_rating }}</td>
      <td>{{ show.downloads }}</td>
      <td><a ui-sref="detail({ id: show.identifier })" class="tiny radius button">Detail</a></td>
    </tr>
  </table>
</div>
